\.DS_Store
__pycache__
images
logs
*~
/Code/pi_cam/.spyproject/config/backups/codestyle.ini.bak
/Code/pi_cam/.spyproject/config/backups/encoding.ini.bak
/Code/pi_cam/.spyproject/config/backups/vcs.ini.bak
/Code/pi_cam/.spyproject/config/backups/workspace.ini.bak
/Code/pi_cam/.spyproject/config/codestyle.ini
/Code/pi_cam/.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
/Code/pi_cam/.spyproject/config/defaults/defaults-encoding-0.2.0.ini
/Code/pi_cam/.spyproject/config/defaults/defaults-vcs-0.2.0.ini
/Code/pi_cam/.spyproject/config/defaults/defaults-workspace-0.2.0.ini
/Code/pi_cam/.spyproject/config/encoding.ini
/Code/pi_cam/.spyproject/config/vcs.ini
/Code/pi_cam/.spyproject/config/workspace.ini
